/* nav{
    display: flex;
} */
html {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

body {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;}

h2 {
    text-align: center;
}

section {
    display: flex;
    height: 200px;
    /* width: 90vw; */
    /* border: 1px solid var(--BBgray); */
    box-shadow: inset;
    margin: 5vw;
}
header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.categorie {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 50%; */
}

.sousSec {
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

}

.sousDiv {
    height: fit-content;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

html body .sousDiv span {
    font-size: 60px;
}

a {
    text-decoration: none;

}
h2{
    font-size: 40px;
    font-weight: 600;
}
/*
Round de profile et de notif en haut del page home
*/
.roundTopTip {
    transition: 0.7s;
    background-color: white;
    height: 65px;
    width: 65px;
    border: 0px solid;
    border-radius: 100%;
    /* overflow: hidden; */
    
    transform: scale(1);
}

.roundTopTip:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.roundTopTip img,
.roundTopTip span {
    width: 65px;
    font-size: 65px;
    height: auto;
}
#notif{
    transition: 1s;
}
#notif span{
    color:var(--BBorange);
    transition: 1s;
}
#weight {
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;

}

#weight div a{
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#weight div span{
    font-size: 80px;
}

#sport {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#nutrition{
    border: 1px white solid;
    border-radius: 20px;
    background-color: var(--BBwhiteDemi);    
}
#bilanSport {
    width: 0%;
    display: none;
}
.sousDiv a{
    text-align: center;
}
#sportGenerator {
    display: flex;
    width: 50%;
    padding: 0px 30px 30px 30px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    height: max-content;
    border: 1px white solid;
    border-radius: 20px;
    background-color: var(--BBwhiteDemi);
}


#weightCharts {
    width: 100%;
    height: 400px;
}
#name{
    font-size: 26px;
    width: max-content;
}

span{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.416);
}
canvas {
    width: 100%;
    background-color: var(--BBwhiteDemi);
    /* border: 1px white solid; */
    border-radius: 20px;
    padding: 20px;

}
#Sleep{
    display: flex;
}
#Sleep .cat{
    width: 50%;
}