/* nav{
    display: flex;
} */
html{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

body{
    width: 90vw;
}
h2{
    text-align: center;
}
section{
    display: flex;
    height: 200px;
    /* width: 90vw; */
    /* border: 1px solid var(--BBgray); */
    box-shadow: inset;
    margin: 5vw;
}
.categorie{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 50%; */
}
.sousSec{
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: row;
    
}

.sousDiv{
    height: fit-content;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
html body .sousDiv span{
    font-size: 60px;
}
a{
    text-decoration: none;
    
}
#account{
    transition: 0.7s;
    position: absolute;
    top: 50px;
    right: 100px;
    height: 50px;
    width: 50px;
    border: 0px solid;
    border-radius: 100%;
    overflow: hidden;
    transform: scale(1);
}
#account:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#account img{
    width: 100%;
    height: auto;
}
#weight{
    width: 100%;
    display: flex;
    margin: 50px 0px;
}
#sport{
    width: 100%;
    display: flex;
}
#bilanSport{
    width: 50%;
}
#sportGenerator{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    height: max-content;
    border: 1px white solid;
    border-radius: 20px;
    background-color: var(--BBwhiteDemi);
}

#updateWeigh{
    width: 35%;
}
#weightCharts{
    width: 65%;
    height: 400px;
}
canvas{
    width: 100%;
    background-color: var(--BBwhiteDemi);
    border: 1px white solid;
    border-radius: 20px;
}