*{
    font-size: 32px;
}
html h1{
    top:200px;
    width: 100%;
    position: absolute;
}
#loginBody{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    /* height: 70%; */
    margin: 0px;
    justify-content: space-evenly;
    border: 2px solid var(--BBwhite);
    border-radius: 30px;
    background-color: var(--BBwhiteDemi);
    padding: 50px;
}
form input{
    width:  100%;
    border-radius: 50px;
    margin: 20px 0px;
}
a{
    color: var(--BBgray);
}