@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --BBDblue:  rgba(35, 54, 82, 1);
    --BBblue:  rgba(10, 96, 135, 1);
    --BBwhite: rgba(255, 255, 255, 1); 
    --BBgray: rgb(250, 252, 248);
    --BBorange:rgba(242, 89, 68, 1);
    --BBwhiteDemi:rgba(10, 96, 135, 0.5);


  
}

*{
    font-family: 'Poppins', sans-serif;
    color: var(--BBDblue);
    font-size: 28px;
}

html{
    background-color: var(--BBgray);
}
h1{
    text-align: center;
    text-shadow: 5px;
    font-size: 62px;
}
hr{
    border: 2px solid var(--BBgray);
}
table{
    background-color: var(--BBwhite);
}
/* nav{
    display: flex;
    justify-content: space-evenly;
    align-content: center;

} */
