html body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 15px;

}
#addActivity{
    background-color: var(--BBDblue);
    border: solid 1px black;
    padding: 50px;
    border-radius: 25px;
    color: white;
    margin: 50px;
    position: absolute;
    bottom: 200px;
    font-size: 48px;
    width: -webkit-fill-available;
}
