html{
    overflow: hidden;
}
#container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    flex-wrap: wrap;
    align-content: center;

}

.card {
    
    position: absolute;
    top: 400px;
    width: 80vw;
    height: 50vh;
    background-color: #fff;
    box-shadow: 0px 0px 10px #aaa;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.card input,label,h3,h2{
    font-size: 48px;
}
.card div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.card h2 {
    margin: 10px;
}

.card.like {
    transform: translateX(300px) rotate(-15deg);
}

.card.dislike {
    transform: translateX(-300px) rotate(15deg);
}

.bouton{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(46, 45, 104, 0.658);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(42, 72, 108, 0.525);
}
#result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
#result div{
    font-size: 40px;

}