#menu {
	grid-area: menu;
	z-index: 2;
	text-align: center;
	color: #f18050e5;
}
#menu .categorie {
	border-radius: 10px;
	border: 4px double whitesmoke;
	display: inline-block;
	vertical-align: top;
	z-index: 2;
	padding: 3px;
	width: 32%;
	margin-top: 10px;
	transition: 200ms;
	font-size: 110%;
}
