html{
    cursor: pointer;
    background-color: #fff;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #89004f;
}

header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 150px;
    margin-left: 397px;
}

.logo img {
    height: 200px;
    width: 200px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav li:first-child {
    margin-left: 0;
}

nav a {
    color: #89004f;
    text-decoration: none;
}

nav a:hover {
    color: #f60;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #89004f;
    color : white;
}

.about {
    margin-bottom: 40px;
}

.about h2 {
    margin-bottom: 20px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    background-color: #56b52a;
    padding: 20px;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease;   
    border-radius: 20px;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.box h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.box p {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
}

footer {
    background-color: white;
    color: #56b52a;
    padding: 20px;
    text-align: center;
}